
<html>
<head>

<link rel='stylesheet' href=' /css/index.css' type="text/css" />

  <title>Лахтанов Идб-18-03</title>
 </head>

 <body>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<div class="card">

<img src="https://media.istockphoto.com/photos/computer-programmer-picture-id153819558" alt="Avatar" style="width:100%">
<div class="container">
  <h4><b>Лахтанов Савелий Григорьевич</b></h4>

  <p>Student</p>
  <input type="button"  onclick="Info()" value="Доп информация">
  <div id="info">
    <p>Студент МГТУ Станкин <br> группы: ИДБ-18-03<br> Дата рождения: 11.01.2000</p>
  </div>

<br>


  <input type="button"  onclick="TaskVis()" value="Задание по JS">
  <div id="JsTask">

    <input id="elem1" type="text" name="quantity" placeholder="Введите аргумент">
    <input id="butt" type="button" value="Кнопка"/><br><br>
    <div id="str"></div>
    <p><input id="num1" type="text" name="quantity" placeholder="1 слагаемое">+<input id="num2" type="text" name="quantity" placeholder="2 слагаемое">=</p><div id="res"></div>
    <br>
    <input id="task122" type="button" value="решить"/><br><br>

    <p>Введите кол-во элементов в массиве<input id="kol" type="text" name="quantity" placeholder="кол-во"><input id="task3" type="button" value="готово"/>
    <br>
    <p>Введите элементы массива</p>
    <table id="arrtable" cellpadding="4">
    </table>
    <input id="task3res" type="button" value="Пройтись по массиву"/>
    <br><br>


  </div>
</div>
</div>
<script src="/js/index.js"></script>
</body>
</html>
